# Visual Studio
.vs/
bin/
obj/
*.user
*.suo
*.sln.docstates

# Visual Studio Code
.vscode/
*.suo
*.user
*.sln.docstates

# Binaries
[Bb]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease/

# Packages
packages/
*.nupkg
.nuget/

# Logs
log/
*.log